.menu-bar{
    align-items: center;
    display: flex;
    background-color: #52555c;
    color: white;
}

.game-bar{
  align-items: center;
  display: flex;
  background-color: #7a7e87;
  color: white;
}

.custom-btn{
    height: 30px;
    margin:2px;
    text-align: center !important;
    align-items: center;
    display: flex;
    justify-content: right;
}

.player-label{
  margin: 5px;
  font-size: 12px !important;
  font-weight: bold;
}

.player-input{
  margin: 5px;
  font-size: 12px !important;
}